In [1]:
# librerias en Python para data science
#Pandas 
#Numpy
#SciPy

In [2]:
#lIBRERIAS EN PYTHON PARA VIZUALIZACION
#MATPLOIT
#SEABORN

In [3]:
#LIBRERIAS EN PYTHON ALGORITMICAS
#SCIKIT-LEARN
#STATSMODELS

In [4]:
#import a csv into python
#Libreria para leer
import pandas as pd

#data source:
url="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
urlheader="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.names"
#Sin encabezado porque no tiene.
data= pd.read_csv(url,header=None)

##imprimir dataframe
#data

#Agregar headers:
headers=["symboling","nomalized-losses","make","fuel-type","aspiration","num-of-doors","body-style","drive-wheels","engine-location","wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders"," engine-size"," fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]
data.columns=headers

#imprimimos datafram:
data.head(5)


#Tipos para leer y guardar
#csv       pd.read_csv()         df.to_csv()
#json       pd.read_json()       df.to_json()
#excel      pd.read_excel()       df.to_excel()
#sql     pd.read_sql()           df.to_sql()

#GUARDAR  TO CSV
lugar="..\data.csv"
data.to_csv(lugar)

In [1]:
#Basic insight of datasets
#Pandas                    #python 
#object                    string 
#int64                     int
#float64                   float
#datetime64,timedelta(ns)  N/A

In [5]:
data.dtypes

symboling              int64
nomalized-losses      object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
 engine-size           int64
 fuel-system          object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [6]:
data.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [7]:
data.head(5)

,symboling,nomalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [8]:
data.describe(include="all")

,symboling,nomalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   nomalized-losses   205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16   engine-size       205 non-null    int64
 17   fuel-system       205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [ ]:
#Data Pre-procesing

data["symboling"]=data["symboling"]+1

In [ ]:
#drop missing values in python
#data.dropna()
#data.dropna(subset=["price"],axis=0)
#data.dropna(subset=["price"],axis=0,inplace=True)

In [ ]:
#replace misssing values in Python
#dataframe.replace(missing_values,new_value)
mean=data["nomalized-losses"].mean()
data["nomalized-losses"].replace(np.nan,mean)

In [ ]:
#Data Formatting
data["city-mpg"]=235/data["city-mpg"]
data.rename(columns={"city_mpg": "city-L/100km"}, inplace=True)

In [14]:
#cORRECTING DATA TYPES
#IDENTIFICAR  
dataframe.dtypes()
#convertir
dataframe.astype()

200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, dtype: object

In [ ]:
#METHOD OF NORMALIING DATA
#SIMPLE FEATURE SCALIN IN PYTHON CON PANDAS
data["length"]=data["length"]/data["length"].max()
#MIN-MAX IN PYTHON CON PANDAS
data["length"]=(data["length"]-data["length"].min())/(data["length"].max()-data["length"].min())
#Z-score in python
data["length"]=(data["length"]-data["length"].mean())/data["length"].std( )

In [ ]:
#Binning
bins=np.linspace(min(data["price"]),max(data["price"]),4)
group_names=["low","medium","high"]
data["price-binned"]=pd.cut(data["price"]),bin,labels=group_names,include_lowest=True)

In [ ]:
#Categorical -> Numeric
pd.get_dummies(data["fuel"])

In [ ]:
#Value_counts
drive_wheels_counts=df["drive-wheels"].value_counts()
drive_wheels_counts.rename(columns={'drive-wheels': 'value_counts',inplace=True)
drive_wheels_counts.index.name='drive-wheels'

In [ ]:
#Scatter Plot
y= data[engine-size]
x=data["price"]
plt.title("Scatterplot of engine size vs price")
plt.xlabel("Engine Size")
plt.x label("Price")

In [ ]:
#GroupBy
dt_test= data[['drive-wheels', 'body-style', 'price']]
dt_grp= dt_test.groupby(['drive-wheels','body-style'], asindex=False).mean()
dt_grp

In [ ]:
#Pivot
dt_pivot=data_grp.pivot(index='drive-wheels',columns='body-stye')

In [ ]:
#Heatmap
plt.pcolor(dt_pivot,cmap='RdBu')
plt.colorbar()
plt.show()

In [ ]:
#Analysis de Varianza
df_Anova=data[{"make","price"}]
grouped_anova=df_anova-groupby(["make"])

In [ ]:
#Correlation positive Linear Relationship
sns.regplot(x="engin-size",y="prices", data=df)
Plt.ylim(0,)

In [ ]:
#Correlation - Statics
#2features: Correlation coefficient , P-value
#Correlation coefficient             #P-value
#Close to +1                         P-value<0.001
#Close to -1                        P-value<0.05
#Close to +1                        P-value<0.1
#                                   P-value>0.1

#strong correlation:
#correlation coefficient close to 1 or -1
#p value less than 0.001


#Pearson correlation
Pearson_coef,p_value=stats.personr[['horsepower'],df['price']]

pearson correlation 0.81
p- value=

In [ ]:
#Model Development
#Linear regression
#Simple linear regresion

In [ ]:
#fitting a simplelinear model estimator
#import linear model from scikit learn
from sklearn.linear_model import LinearRegression
#create alinear regresion object using the constructor
lm=LinearReegression()

In [ ]:
#fitting a multiplelinear model estimator
#we can extract the for 4 predictor variables and store them in the variable z
z= df[['horsepower'.'curb-weight','engine-size','highway-mpg']]

#THEN TRAIN THE MODEL AS BEFORE:
lm.fit(Z,df['price'])
#We can also obtain a prediction
Yhat= lm.predict(X)

In [ ]:
#Model Evaluation using visualization
#Regression plot.
import seaborn as  sns
sns.regplot(x="highway-mpg",y="price",data=df)
plt.ylim(0,)

In [ ]:
#Resigual Plot
import seaborn as sns
sns.residplot(df['highway-mpg'],df['price'])

In [ ]:
#Distribution Plots
import seaborn as sns
ax1=sns.distplot(df['price'],hist=False, color="r",label="Actual Value")
sns.distplot(Yhat,hist= False , color="b",label="Fitted Values", ax=ax1)

In [ ]:
#Polynomial regresion and pipelines 
#https://prnt.sc/zy53hv
#Calculate polynomial of 3rd order
f=np.polyfit(x,y,3)
p=no.polyld(f)
#we can print out the model
print(p)

In [ ]:
#preprocessing
from sklearn.preprocessing import Standardcaler
SCALE=StandarScaler()
SCALE.fit(x_data[['horsepower', 'highway-mpg']])
x_scale= SCALE.transform(x_data[['horsepower', 'highway-mpg']])

#pipeline    -https://prnt.sc/zy5pl0
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandarScaler
from sklearn.pipeline import Pipeline

Input[('scale',StandarScaler()),('polynomial',PolynomialFeatures(degree=2)),('model',LinearRegression())]
#We can train the pipeline object
Pipe.train(X['horsepower','curb-weight','engine-size','high-mpg'],y)
yhat=Pipe.predict(X[['horsepower','curb-weight','engine-size','highway-mpg']])

In [ ]:
#Mean SQUARED error(MSE)
from skearln.metrics import mean_squared_error

In [ ]:
#Prediction and Decision Making
#First we train the model
lm.fit(df.['highway-mpg'],['prices'])
#let's predict the price of a car with 30 hihgway-mpg
lm.predict(30)
lm.coef_

In [ ]:
#Do the predict values make sense
#first we import numpy
import numpy as np
#We use the numpy function arrange to generate a sequence from 1 to 100
new_input=np.arange(1,101,1).reshape(-1,1)

In [3]:
#-----------------#_----------
#Evaluacion del modelo
#training set 70%
#ttrain 30%
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_data,y_data,test_size=0.3,random_state=0)
#https://prnt.sc/10080j5

#Function cross_val_Score()
from sklearn.model_selection import cross_val_score
scores= cross_val_score(lr,_data,y_data,cv=3)

#Has a similar interface to cross_val_score()
from sklearn.model_selection import cross_val_score
yhat=cross_val(predict(lr2e,x_data,y_data,cv=3))

In [ ]:
#Model Selection,overfitting, underfitting
Rsqu_test=[]
order=[1,2,3,4]
for n in order:
    pr=PolynomialFeatures(degree=n)
    x_train_pr=pr.fit_transformation(x_train[['horsepower']])
    x_test_pr=pr.fit_transformation(x_test[['horsepower']])
    lr.fit(x_train_pr,y_train)
    Rsqu_test.append(lr.score(x_test_pr,y_test))